<div class="game-card">
  <div class="game-time">
    <p><i class="fa-regular fa-calendar"></i><%= game.start_at.strftime("%A %d %B") %></p>
    <p><i class="fa-regular fa-clock"></i><%= game.start_at.strftime("%H:%M") %></p>
  </div>
  <div class="players">
      <div class="player">
        <img class="avatar-card avatar" src="https://ca.slack-edge.com/T02NE0241-U053FG4KRA5-4a55123cc91d-512"/>
        <p>Helene</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://ca.slack-edge.com/T02NE0241-U053FCDPZ1R-8c0631b61a00-512" class="avatar"/>
        <p>Youval</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://ca.slack-edge.com/T02NE0241-U053HV6QHPC-334be9208dc3-512" class="avatar"/>
        <p>Arnaud</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://ca.slack-edge.com/T02NE0241-U053HMT49V1-d45ba989ac22-512" class="avatar"/>
        <p>Maxime</p>
      </div>
      <div class="player">
        <a class="btn" href="#"><i class="fa-solid fa-plus"></i></a>
      </div>
  </div>
  <div class="game-type">
    <p><i class="fa-solid fa-diamond"></i><%= game.game_type.name %></p>
    <p><i class="fa-solid fa-ranking-star"></i></i>
      <% if game.competitive == true %>
        <%= "Competitive" %>
      <% else %>
        <%= "Friendly" %>
      <% end %>
    </p>
  </div>
</div>
