<%= link_to game_path(game) do %>
  <% if game.start_at >= Date.today %>
    <div class="game-card">
      <div class="game-time">
        <p class="text-decoration-none"><strong><%= truncate(game.city, length: 15) %></strong></p>
        <p><i class="fa-regular fa-calendar"></i><%= game.start_at.strftime("%a %d %b") %> <%= game.start_at.strftime("%H:%M") %></p>
      </div>
      <div class="players">
        <% game.participations.map do |participation|%>
          <div class="player">
            <%= cl_image_tag participation.user.photo.key, class: "avatar-card" %>
            <p><%= participation.user.first_name.capitalize.truncate(6) %></p>
          </div>
        <% end %>
        <% unless game.participations.count == game.number_of_players %>
          <% (game.number_of_players - game.participations.count).times do %>
            <div class="player">
              <div class="btn btn-add"><i class="fa-solid fa-plus"></i></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="game-type">
        <p><i class="fa-solid fa-diamond"></i><strong><%= game.game_type.name %></strong></p>
        <p>
          <% if game.competitive == true %>
            <strong><%= "Competitive" %> <i class="fa-solid fa-trophy"></i></strong>
          <% else %>
            <strong><%= "Friendly" %> <i class="fa-solid fa-handshake-angle"></i></strong>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
