<div style="height: 4.5em"></div>
<div class="bg-secondary d-flex justify-content-evenly align-items-center" id="pp-navbar">
  <% if user_signed_in? %>
    <%# HOMEPAGE BUTTON %>
    <div>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </div>
    <%# SEARCH BUTTON %>
    <div>
      <%= link_to games_path do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
    <%# NEW GAME BUTTON %>
    <div class="d-flex align-items-center" id="new-game-btn">
      <%= link_to new_game_path do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <%# CALENDAR BUTTON %>
    <div>
      <%= link_to mygames_path do %>
        <i class="fa-regular fa-calendar-days"></i>
      <% end %>
    </div>
    <%# PROFILE USER BUTTON %>
    <div>
      <%= link_to user_path(current_user) do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
      <% end %>
    </div>

  <% else %>
    <div>
      <%= link_to "Login", new_user_session_path %>
    </div>
  <% end %>
</div>
