<div class="container">
  <div class="mt-5">
    <%= simple_form_for game do |g| %>
      <%= g.association :game_type, as: :radio_buttons, collection: GameType.all, label_method: :name, legend_tag: false, input_html: { class: 'button-hide' }, item_wrapper_class: 'label-inline' %>
      <%= g.input :start_at,
                  as: :string,
                  label: false,
                  input_html: { data: { controller: 'datepicker' } } %>
      <div data-controller='range'>
        <label for='duration[range]'><strong>Duration</strong> <span data-range-target='rangeElement'></span></label>
        <div class="d-flex">
          <div id="duration-range">
            <%= g.input :duration, label: false, as: :range, input_html: { min:'30', max:'240', step: '15', data: { action: 'input->range#range', range_target: 'input'}} %>
          </div>
        </div>
      </div>
      <%= g.input :location,
        label: false,
        input_html: {
          data: {address_autocomplete_target: "address"},
          class: "d-none"
        },
        wrapper_html: {
          data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}
        } %>
      <div class="d-flex">
        <%= g.input :number_of_players, as: :radio_buttons, collection: 3..5, input_html: { class: 'button-hide' }, item_wrapper_class: 'label-inline' %>
        <div id="compet-select">
          <%= g.input :competitive, input_html: { class: 'toggle' } %>
        </div>
      </div>
      <%= g.input :description, label: false, placeholder: 'Description...' %>
      <div class="d-flex justify-content-center mt-4">
        <%= g.submit 'Launch game 🚀', class: 'btn btn-form btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
