<div class="container">
  <h1>Edit scores</h1>

    <%= form_with model: @game, url: update_score_game_path(@game) do |f|%>
    <%= f.fields_for :participations do |pf| %>
      <div class="d-flex flex-column inline-block my-4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column align-items-center">
            <%= cl_image_tag pf.object.user.photo.key, class: "avatar" %>
            <%= pf.object.user.first_name.capitalize %>
          </div>
          <%= pf.text_area :score %>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= f.submit class:"launch-chat-button" %>
    </div>
  <% end %>
</div>
