<h1>Index de Games</h1>

<% @games.each do |game| %>
  <div class="game-card">
    <div class="game-time">
      <p><i class="fa-regular fa-calendar"></i> <%= game.start_at.strftime("%d %B %Y") %></p>
      <p><i class="fa-regular fa-clock"></i> <%= game.start_at.strftime("%H:%M") %></p>
    </div>
    <div class="game-type">
      <p><i class="fa-regular fa-card-spade"></i><strong> <%= game.game_type.name %></strong></p>
      <p><i class="fa-regular fa-card-spade"></i><strong>
        <% if game.competitive == true %>
          <%= "Competitif" %>
        <% else %>
          <%= "Amical" %>
        <% end %>
      </strong></p>
    </div>
</div>
<% end %>
