<div class="show-banner">
  <h2>Find a game</h2>
</div>

<div data-controller="search-games" data-search-games-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>" class="search_index_games">
  <div class="search_bar">
    <%= form_with url: games_path, method: :get, html: {data: { search_games_target: "form" }} do |f| %>
      <div class="location-wrapper" data-search-games-target="locationWrapper">
        <%= f.text_field :query,
                          class: "form-control d-none",
                          placeholder: "Address",
                          value: params[:query],
                          data: {
                            search_games_target: "input"
                          } %>
      </div>
      <%= f.select :game_type, options_for_select([ "Tarot", "Rami" ], params[:game_type]), prompt: "Any game" %>
      <%= f.select :number_of_players, options_for_select([ "3", "4", "5" ], params[:number_of_players]), prompt: "Players" %>
      <%= f.select :competitive, options_for_select([["competitive", true], ["friendly", false]], params[:competitive]), prompt: "Style" %>

      <%= f.submit "Save", :type => "submit", class: "filters-button"%>
    <% end %>
  </div>
  <div data-search-games-target="list">
    <%= render "list", games: @games %>
  </div>
  <div class="panel_new_game">
    <%= link_to new_game_path do %>
      <p>Create a new game</p>
    <% end %>
  </div>
</div>
