<div class="show-banner">
  <h2>Search</h2>
</div>

<div data-controller="search-games" data-search-games-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>" class="search_index_games">
  <div class="search_bar">
    <%= form_with url: games_path, method: :get, html: {data: { search_games_target: "form" }} do |f| %>
      <%= f.text_field :query,
                        class: "form-control d-none",
                        placeholder: "Address",
                        value: params[:query],
                        data: {
                          search_games_target: "input"
                        } %>
    <% end %>
  </div>
  <div data-search-games-target="list">
    <%= render "list", games: @games %>
  </div>
  <div class="panel_new_game">
    <%= link_to new_game_path do %>
      <p>Create a new game</p>
    <% end %>
  </div>
</div>
