<div class="show-banner">
  <h2><%= @game.game_type.name %> game</h2>
</div>

<div class="infos-game-show infos">
  <div class="item ">
    <i class="fa-regular fa-clock"></i>
    <p><%= @game.start_at.strftime("%B %d, %Y") %></p>
    <p> <%= @game.start_at.strftime("%H:%M") %></p>
  </div>
  <div class="item ">
    <i class="fa-solid fa-location-dot"></i>
    <p><%= @game.location %></p>
  </div>
</div>

<div class="infos-game-show infos">
  <div class="item ">
    <i class="fa-solid fa-medal"></i>
    <p>
      <% if @game.competitive == true %>
        <%= "Competitif" %>
      <% else %>
        <%= "Amical" %>
      <% end %>
    </p>
  </div>
  <div class="item ">
    <i class="fa-solid fa-users"></i>
    <p><%= @game.number_of_players %> / 5</p>
  </div>
</div>


<% if @game.start_at < Date.today %>
  <%# passed games show %>
  <div class="container">
    <div class="card mt-1" style="width: 23rem;">
      <div class="card-header">
        <%= @game.participations.order(score: :desc).first.user.username.truncate(40) %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6><%= @game.participations.order(score: :desc).first.score %> points <span
          class="badge bg-winner"
          style="background-color: gold; color: black;">
            Winner
          </span></h6>
        </li>
      </ul>
    </div>
    <div class="card mt-1" style="width: 23rem;">
      <div class="card-header">
        <%= @game.participations.order(score: :desc).second.user.username.truncate(40) %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6><%= @game.participations.order(score: :desc).second.score %> points <span
          class="badge bg-second"
          style="background-color: silver; color: black;">
            Second
          </span></h6>
        </li>
      </ul>
    </div>
    <div class="card mt-1" style="width: 23rem;">
      <div class="card-header">
        <%= @game.participations.order(score: :desc).third.user.username.truncate(40) %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6><%= @game.participations.order(score: :desc).third.score %> points <span
          class="badge bg-third"
          style="background-color: #cd7f32; color: black;">
            Third
          </span></h6>
        </li>
      </ul>
    </div>
    <% if @game.number_of_players > 3 %>
      <div class="card mt-1" style="width: 23rem;">
        <div class="card-header">
          <%= @game.participations.order(score: :desc).fourth.user.username.truncate(40) %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6><%= @game.participations.order(score: :desc).fourth.score %> points <span
            class="badge bg-primary">
              Fourth
            </span></h6>
          </li>
        </ul>
      </div>
    <% end %>
    <% if @game.number_of_players > 4 %>
      <div class="card mt-1" style="width: 23rem;">
        <div class="card-header">
          <%= @game.participations.order(score: :desc).fifth.user.username.truncate(40) %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6><%= @game.participations.order(score: :desc).fifth.score %> points <span
            class="badge bg-primary">
              Fifth
            </span></h6>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

<% else %>
  <%# futur games show %>
  <div class="container">
    <div class="card-game-show">
      <ul class="people">
        <% @game.participations.each do |participant| %>
          <li>
            <%= participant.user.last_name.truncate(10) %>
            <p><%= participant.user.username.truncate(10) %></p>
          </li>
        <% end %>
      </ul>
      <% if @game.number_of_players < 5 %>
        <%= link_to 'Book', root_path, class:"button" %>
      <% end %>
    </div>
  </div>

<% end %>
