<div class="scrollable-chatroom">
  <div class="show-banner">
    <h2><%= @game.game_type.name %> game</h2>
  </div>


  <div class="infos-game-show infos">
    <div class="item ">
      <i class="fa-regular fa-clock"></i>
      <p><%= @game.start_at.strftime("%B %d, %Y") %></p>
      <p> <%= @game.start_at.strftime("%H:%M") %></p>
    </div>
    <div class="item ">
      <i class="fa-solid fa-location-dot"></i>
      <p><%= @game.location %></p>
    </div>
  </div>

  <div class="infos-game-show infos">
    <div class="item ">
      <i class="fa-solid fa-medal"></i>
      <p>
        <% if @game.competitive == true %>
          <%= "Competitive" %>
        <% else %>
          <%= "Friendly" %>
        <% end %>
      </p>
    </div>
    <div class="item ">
      <i class="fa-solid fa-users"></i>
      <p> <%= @game.participations.count %>/ <%= @game.number_of_players %></p>
    </div>
  </div>

  <% if @game.start_at < Date.today %>
    <%# passed games show %>
    <div class="container">
      <div class="card-game-show">
        <ul class="people">
          <% @game.participations.each do |participant| %>
            <li>
              <%= link_to user_path(current_user) do %>
                <%= image_tag participant.user.photo, class: "avatar" %>
              <% end %>
              <p><%= participant.user.username.truncate(10) %></p>
              <p><%= participant.score %></p>
            </li>
          <% end %>
        </p>
      </div>

  <% else %>

    <%# futur games show %>
    <div class="container">
      <div class="card-game-show">
        <ul class="people">
          <% @game.participations.each do |participant| %>
            <li>
              <%= link_to user_path(current_user) do %>
                <%= image_tag participant.user.photo, class: "avatar" %>
              <% end %>
              <%= participant.user.username.truncate(10) %>
            </li>
          <% end %>
        </ul>
        <div class="book">
          <% if (@game.participations.count < @game.number_of_players) && (@game.participations.where(user_id: current_user) != false ) %>
            <%= link_to 'Book', root_path, class:"button" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <%# chatroom %>
  <div class="container mt-3">
    <h2>messages</h2>
    <div class="chatroom">
      <div class="messages">
        <% @chatroom.messages.each do |message| %>
          <div id="message-<%= message.id %>">
            <small>
              <strong><%= message.user.username %></strong>
              <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
            </small>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>
    </div>

  <%# new message on chatroom %>
  <%= simple_form_for [@game, @message],html: {class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      placeholder: "Message ",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>

</div>
