<div class="show-banner">
  <h2>Game details</h2>
</div>
<div class="show-second-banner">
  <div class="d-flex justify-content-between p-4">
    <div class="d-flex justify-content-start">
      <h4><%= @game.game_type.name %></h4>
      <% if @game.competitive %>
        <p class="ms-2">Competitive</p>
      <% else %>
        <p class="ms-2">Friendly</p>
      <% end %>
    </div>
    <div>
      <%= @game.participations.count %>/<%= @game.number_of_players %>
    </div>
  </div>
</div>

<div class="container">
  <div class="show-game-card-infos">
    <div class="show-game-card-infos-cards">
      <p id="day"><%= @game.start_at.strftime("%d") %></p>
      <p id="month"><%= @game.start_at.strftime("%b") %></p>
      <p id="hour"><%= @game.start_at.strftime("%H:%M") %></p>
    </div>
    <div class="show-game-card-infos-cards" id="game-card-location">
      <div id="marker">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <p><%= @game.location %></p>
    </div>
    <div class="show-game-card-infos-cards" id="game-card-duration">
      <div id="clock">
        <i class="fa-regular fa-clock"></i>
      </div>
      <p>
        <% if (@game.duration.fdiv(60) - 0.5).round != 0 %>
          <%= (@game.duration.fdiv(60) - 0.5).round %>h
          <% if @game.duration % 60 != 0 %>
            <%= @game.duration % 60 %>
          <% end %>
        <% else %>
          <%= @game.duration % 60 %>min
        <% end %>
      </p>
    </div>
  </div>
  <br>
  <div class="player-ranking" >
    <div class="player-ranking-grid">
      <p class="grid-labels">Players</p>
      <p></p>
      <p class="grid-labels">Scores</p>
      <p></p>
      <p></p>
    </div>
    <% @game.participations.each do |participant| %>
      <div class="player-ranking-card player-ranking-grid">
        <%= link_to user_path(participant.user) do %>
          <%= image_tag participant.user.photo, class: "avatar" %>
        <% end %>
        <p class="ms-2 player-name"><%= participant.user.first_name.capitalize.truncate(10) %></p>
        <% if @game.start_at < DateTime.now %>
          <p><%= participant.score %></p>
          <%= render "reviews/review", participant: participant %>
        <% else %>
          <p class="pending-game">Game not started</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless @game.start_at < DateTime.now %>
    <% if (@game.participations.count < @game.number_of_players) && (@game.participations.where(user_id: current_user) != false ) %>
      <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus"></i>
      </button>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-evenly">
    <%= link_to 'Go to chatroom', chatroom_path(@chatroom), class:"launch-chat-button"%>
    <%= link_to 'Edit scores', edit_score_game_path(@game), class:"btn-score-edit border border-1 border-primary" %>
  </div>
  <a href="whatsapp://send?text=<%= game_url(@game)  %>">Share on Whatsapp</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @game.game_type.name %> game</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="flex">
          <i class="fa-solid fa-location-dot"></i>
          <p><%= @game.location %></p>
        </div>
        <div class="flex">
          <i class="fa-regular fa-clock my-2"></i>
          <p><%= @game.start_at.strftime("%A %d %B, %Y") %> at <strong><%= @game.start_at.strftime("%H:%M") %></strong></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= simple_form_for([@game, @participation]) do |f| %>
          <%= f.submit 'Validate participation', class:"btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
