<div data-controller="futur-passed-games">

  <div class="onglet">
    <button class="onglets" data-futur-passed-games-target="futurbtn" data-action="click->futur-passed-games#passedFutur" disabled> <h2>Future games</h2></button>
    <button class="onglets" data-futur-passed-games-target="passedbtn" data-action="click->futur-passed-games#futurPassed"> <h2>Passed games</h2></button>
  </div>

  <%# <div class="container"> %>
    <div data-futur-passed-games-target="futur" class="">
      <% if @mygames == [] %>
        <h5 class= "text-center">You don't have any future games !</h5>
        <p class= "text-center"> <%= link_to 'Click here to start your experience', root_path %> </p>
      <% else %>
        <% @mygames.each do |game| %>
          <% if (game.start_at - 7_200) >= DateTime.now %>
            <%= link_to game_path(game), class: "text-decoration-none link-dark mb-3" do %>
                <%= render "shared/game_card_join", game: game %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div data-futur-passed-games-target="passed" class="d-none">
      <% if @mygames == [] %>
        <h5 class= "text-center">You don't have any previous games !</h5>
      <% else %>
        <% @mygames.reverse.each do |game| %>
          <% if (game.start_at - 7_200) < DateTime.now %>
            <%= link_to game_path(game), class: "text-decoration-none link-dark mb-3" do %>
              <%= render "shared/passed_card_game", game: game %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <%# </div> %>
</div>
